.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quiz-container {
    margin: calc(100vh / 5) auto;
}

.quiz-question-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
    background-color: rgb(255, 255, 255);
}

.quiz-title {
    margin: 0;
    color: rgb(0, 1, 18);
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 36px;
}

#myProgress {
    display: inline-block;
    width: 100%;
    height: 14px;
    background-color: #E7E7E7;
    margin-bottom: 20px;
}

#myBar {
    display: inline-block;
    height: 14px;
    background-color: #E7E7E7;
    margin-bottom: 20px;
    background: linear-gradient(90.00deg, rgb(245, 104, 255), rgb(99, 95, 199) 100%);
    transition: background 0.3s ease-in-out;
}

.quiz-question-title {
    margin: 0;
    width: 540px;
    height: fit-content;
    color: rgb(0, 1, 18);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 20px;
}

.quiz-form {
    height: 100%;
}

.quiz-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.quiz-question-option-input {
    visibility: hidden;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

li {
    display: flex;
    margin: 0;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 4px;
    background: rgb(255, 255, 255);
    width: 416px;
    height: fit-content;
    color: rgb(0, 1, 18);
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    cursor: pointer;
    transition: border 0.3s ease-in-out;
}

li:hover {
    border: 1px solid #635fc7;
    cursor: pointer;
}

input {
    cursor: pointer;
}

label {
    padding: 10px 20px;
    cursor: pointer;
}

.quiz-score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 182px;
    width: 600px;
    height: 206px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
    background: rgb(255, 255, 255);
}

.quiz-score-text {
    margin: 0 0 28px;
    width: 100%;
    color: rgb(0, 1, 18);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
}

.quiz-exit-btn {
    width: 255px;
    height: 48px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 24px;
    background: #635fc7;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.quiz-exit-btn:hover {
    border-color: rgb(168, 164, 255);
    background: rgb(168, 164, 255);
}

/* HTML: <div class="loader"></div> */
.loader {
    margin: calc(100vh / 2 - 22px) auto;
    --d: 22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #635fc7;
    box-shadow:
        calc(1*var(--d)) calc(0*var(--d)) 0 0,
        calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
        calc(0*var(--d)) calc(1*var(--d)) 0 2px,
        calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
        calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
        calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
        calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
    animation: l27 1s infinite steps(8);
}

@keyframes l27 {
    100% {
        transform: rotate(1turn)
    }
}